<a href="https://colab.research.google.com/github/GitOlivier10/titanic-ml-project/blob/main/titanic_olivier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1. IMPORTATIONS & CONFIG
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Options d'affichage
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

# Pour ignorer les warnings
import warnings
warnings.filterwarnings('ignore')

In [10]:
df_gender = pd.read_csv('https://raw.githubusercontent.com/GitOlivier10/titanic-ml-project/6f6c9c5669cef524d2f04662c8a45ce016287ad6/gender_submission.csv')
df_test = pd.read_csv('https://raw.githubusercontent.com/GitOlivier10/titanic-ml-project/6f6c9c5669cef524d2f04662c8a45ce016287ad6/test.csv')
df_train = pd.read_csv('https://raw.githubusercontent.com/GitOlivier10/titanic-ml-project/6f6c9c5669cef524d2f04662c8a45ce016287ad6/train.csv')

In [12]:
print(df_gender.head())
print(df_test.head())
print(df_train.head())

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S